@charset "UTF-8";
@font-face {
    font-family: 'moderno';
    src: url(font/PassionOne-Bold.ttf) format(truetype);
}
@font-face {
    font-family: 'versos';
    src: url(font/RobotoCondensed-VariableFont_wght.ttf) format(truetype);
}

* root{
    --fonte-padrao: 'versos';
    --fonte-estilizada: 'moderno';
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}



body {
    background-color: rgb(255, 255, 255);
    width: 98%vh;
}

header {
    background-color: black;
    padding: 30px;
    color: white;
}

header > h1 {
    font-family: 'moderno';
    text-align: center;
    font-size: 3em;
    font-weight: ;
}

header > p {
    font-family: 'versos';
    text-align: center;
}

section {
    margin: 50px 0px 50px 20px;
    font-family: 'versos';
    padding: 5px 5px 5px 5px;
}

section > p {
    padding: 2px;
}

section#p02fora {
    background: url(imagens/fundo01.avif) no-repeat left center fixed;
    background-size: cover;
    margin:0px;
    padding: 1px 0px 1px 0px;
}

section.p02 {
    background-color: rgba(0, 0, 0, 0.596);
    width: 180px;
    
    color: white

}

section.p05 {
    background-color: rgba(0, 0, 0, 0.596);
    width: 180px;
    
    color: white
}

section#p03fora {
    background: url(imagens/fundo02.avif) no-repeat left center fixed;
    background-size: cover;
    margin:0px;
    padding: 1px 0px 1px 0px;
}

footer {
    background-color: black;
    padding: 7px;
    font-family: 'versos';
    text-align: center;
    color: white;

}
